
<template>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-2"></div>
            <div class="col-8 align-self-center" id="login-column">
                <div class="card card-block">
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Merci de vous identifier</h3>
                        </div>
                        <p class="card-text">
                            <form id="loginForm">
                                <div class="mb-2">
                                    <label for="username" class="form-label">Nom d'utilisateur</label>
                                    <input class="form-control" type="text" id="username" placeholder="Nom, surnom" />
                                </div>
                                <div class="mb-2">
                                    <label for="password" class="form-label">Mot de passe</label>
                                    <input class="form-control" type="password" id="password" />
                                </div>

                                <button type="submit" class="btn btn-primary">S'identifier</button>
                            </form>
                        </p>
                    </div>
                </div>

                <scab-alert-error></scab-alert-error>
                <scab-alert-success></scab-alert-success>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

</template>