@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';
@import 'node_modules/bootstrap-icons/font/bootstrap-icons.css';

* {
    --color-primary: rgba(255, 255, 255, 1.0);
    --color-background-primary: rgba(242, 245, 250, 1.0);
    --font-family: 'Garamond';
}

body {
    font-family: var(--font-family);
}