<template>
    <style>
        @import 'styles.css';

    </style>

    <div class="jumbotron">
        <h1 class="display-4">Oh non !</h1>
        <p class="lead">
            Un Web Component n'a pas pu être chargé, car il n'a pas été enregistré dans 
            le CustomElementRegistry.
        </p>
        <hr class="my-4" />
        <p>
            Cela peut arriver si le composant a mal été installé. Veuillez vérifier que 
            le script 'renderer.js' charge correctement le composant <b>avant</b> de faire
            quoi que ce soit. En cas de problème, contactez votre administrateur.
        </p>
    </div>
</template>